<div class="divComision">
    <button type="button" class="btn-cancelar-nav" routerLink="/inicio">Cancelar</button>
    <span class="labelComision">Comision Medica: {{ comisionMedica() }} </span>
</div>

<div class="detalle-bolsin">

    @if (bolsinSeleccionado){
    <h3>Remitos del Bolsín (Número de Precinto: {{ bolsinSeleccionado.numeroPrecinto }})</h3>

    <div class="tarjeta-remito">
        @for (remito of remitos(); track remito.numerosRemitos) {
            <h4>Número de Remito: {{ remito.numerosRemitos }}</h4>
            <table class="tabla-documentos">
                <thead>
                    <tr>
                        <th>Asunto</th>
                        <th>Tipo de Documentación</th>
                    </tr>
                </thead>
                <tbody>
                    @for (doc of remito.datosDocumentacion; track doc.asunto) {
                        <tr>
                            <td>{{ doc.asunto }}</td>
                            <td>{{ doc.tipoDocumento }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        <hr class="espacio">
        }
    </div>
    }
</div>


<div class="divSelect">
    <label class="label-opciones" for="opRecepBolsin">Opciones de recepción del bolsín:</label>
    <select name="opRecepBolsin" (change)="tomarSeleccionOpcRecBolsin($event)">
        <option value="" disabled selected>Seleccioná una opción.....</option>
        <option value="1">El contenido del bolsín es igual al registrado</option>
        <option value="2">No se recibe toda la documentación asociada a los remitos que contiene el bolsín</option>
        <option value="3">Existe documentación que no corresponde al destino (CM del usuario logueado)</option>
        <option value="4">La documentación se debe redirigir a otra área.</option>
    </select>
    <div class="botones">
        <button type="button" class="btnRegresar" (click)="regresar()">Regresar</button>
        <button type="button" class="btnConfirmacion" (click)="solicitarConfirmacion()">Confirmar</button>
    </div>
</div>

@if (mostrarConfirmacion) {
    <div class="overlay-confirmacion">
        <div class="caja-confirmacion">
            <h3>¿Confirmar registro?</h3>
            <p>¿Está seguro que desea registrar la recepción de este bolsín con la opción seleccionada?</p>
            <div class="botones-confirmacion">
                <button class="btn-cancelar" (click)="cancelarConfirmacion()">Cancelar</button>
                <button class="btn-aceptar" (click)="tomarConfirmacion()">Sí, confirmar</button>
            </div>
        </div>
    </div>
}